{% extends 'base.html' %}

{% block main %}

<div class="container-form">
    <form class="card-form"
          method="post"
          action="{{ url_for('editar_livro', id_livro=livro['id_livro']) }}">

        <h2>Editar Livro</h2>

        <div class="campo">
            <label>Título</label>
            <input type="text" name="titulo" value="{{ livro['titulo'] }}" required>
        </div>

        <div class="campo">
            <label>Autor</label>
            <input type="text" name="autor" value="{{ livro['autor'] }}" required>
        </div>

        <div class="campo">
            <label>ISBN</label>
            <input type="text" name="ISBN" value="{{ livro['ISBN'] }}" required>
        </div>

        <div class="campo">
            <label>Resumo</label>
            <input type="text" name="resumo" value="{{ livro['resumo'] }}" required>
        </div>

        <div class="campo leitura">
            <label>Leitura</label>
            <textarea name="leitura" required>{{ livro['leitura'] }}</textarea>
        </div>

        <div class="acoes">
            <button type="submit">Atualizar</button>
            <a href="{{ url_for('livros') }}" class="cancelar">Cancelar</a>
        </div>

    </form>
</div>

{% endblock %}
