{% extends 'base.html' %}

{% block main %}
<h2 class="page-title">Livros Emprestados</h2>

<div class="card-list">
    {% for item in livros_emprestados.livros_emprestados %}

        <p><strong>Título:</strong> {{ item.livro_titulo }}</p>
        <p><strong>Autor:</strong> {{ item.livro_autor }}</p>
        <p><strong>ISBN:</strong> {{ item.livro_isbn }}</p>
        <p><strong>Resumo:</strong> {{ item.livro_resumo }}</p>
        <p><strong>Conteúdo:</strong> {{ item.livro_leitura }}</p>

        <p><strong  style="color:red">Usuário:</strong> {{ item.usuario_nome }}</p>
        <p><strong  style="color:red">ID do Usuário:</strong> {{ item.usuario_emprestado_id }}</p>
        <hr>

    {% endfor %}
</div>
{% endblock %}